.header {
	width: 100%;
	line-height: 1.232;
	line-height: 1.232;
	padding-top: 6.6vmax;
	padding-bottom: 3vw;
	padding-right: 3vw;
	padding-left: 3vw;
	margin: 0 auto;
	box-sizing: content-box;
	display: flex;
	justify-content: center;
	box-sizing: border-box;
	max-width: 1800px;
}
